.main_text{
    text-align: center;
    font-size: 33px;
    font-family:cursive;
    color: red;
}

.main_page{
    filter: blur(2px);
    background-position: center;
    margin-left: 7%;
    margin-top: 1%;
}

.main_text1{
    text-align: center;
    margin-top: 7%;
    margin-left: 35%;
    margin-right: 35%;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(222, 50, 50);
    background-color: rgb(234, 202, 163);
    border: 4px solid black;
    border-radius: 50%;
}

.items1,.items2,.items3, td{
    border-collapse: collapse;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: white;
}

th{
    border: 3px solid black;
    padding: 20px;
    font-weight: bolder;
}

#row0{
    background-color: orangered;
}

.items1,td{
    margin-top: 3%;
    margin-left: 5%;
}

.items2, td{
    margin-top: -30.4%;
    margin-left: 34%;
}

.items3, td{
    margin-top: -30.4%;
    margin-left: 66%;
}

.dish1,.dish2,.dish3{
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(218, 37, 37);
    background-color: rgb(234, 202, 163);
    border: 4px solid black;
    border-radius: 50%;
}

.recipe1, .recipe2, .recipe3{
    margin-left: 10%;
    margin-top: 4%;
    margin-right: 3%;
    margin-bottom: 2%;
    border: 3px solid rgb(104, 104, 104);
    float: left;
}

.food{
    text-align: center;
    font-size: 25px;
    background-color: rgb(165, 164, 164);
}


.dish1{
    margin-top: 10%;
    margin-left: 40%;
    margin-right: 40%;
}


.dish2{
    margin-top: 50%;
    margin-left: 37%;
    margin-right: 37%;
}


.dish3{
    margin-top: 50%;
    margin-left: 39%;
    margin-right: 39%;
}
