body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
*{
    box-sizing: border-box;
}
#tasks{
    list-style-type: none;
    padding: 0;
    /* text-decoration: line-through; */
}
/* span{
    text-decoration: line-through;
} */